html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../public/backgroundPic.jpg");
  /* background-color: #f7f7f7 !important; */
  /* background-color: rgb(242, 242, 242) !important; */
  color: rgb(106, 108, 111);
  display: flex;
  flex-direction: row;
  
}


#root {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed
  /* width: 100%; */
  
}